# requirements.txt

# Core ML/Data Library
torch>=2.0.0
numpy>=1.20.0
transformers>=4.20.0
datasets>=2.0.0
tqdm>=4.64.0
neptune>=1.0.0
pandas~=2.2.3
jmespath~=1.0.1
GitPython~=3.1.44
gitdb~=4.0.12
future~=1.0.0
pillow~=11.2.1
pip~=23.2.1
wheel~=0.41.2
dill~=0.3.8
fqdn~=1.5.1
pytz~=2025.2
requests~=2.32.3
PyYAML~=6.0.2
idna~=3.10
multidict~=6.4.3
propcache~=0.3.1
zipp~=3.21.0
arrow~=1.3.0
python-dateutil~=2.9.0.post0
attrs~=25.3.0
botocore~=1.37.34
boto3~=1.37.34
s3transfer~=0.11.4
smmap~=5.0.2
charset-normalizer~=3.4.1
setuptools~=68.2.0
regex~=2024.11.6
sympy~=1.13.1
mpmath~=1.3.0
psutil~=7.0.0
packaging~=24.2
filelock~=3.18.0
urllib3~=1.26.20
fsspec~=2024.12.0
aiohttp~=3.11.16
yarl~=1.19.0
MarkupSafe~=3.0.2
pyarrow~=19.0.1
xxhash~=3.5.0
async-timeout~=5.0.1
aiosignal~=1.3.2
frozenlist~=1.5.0
aiohappyeyeballs~=2.6.1
bravado-core~=6.1.1
bravado~=11.1.0
msgpack~=1.1.0
six~=1.17.0
monotonic~=1.6
simplejson~=3.20.1
certifi~=2025.1.31
click~=8.1.8
PyJWT~=2.10.1
oauthlib~=3.2.2
requests-oauthlib~=2.0.0
websocket-client~=1.8.0
tzdata~=2025.2
huggingface-hub~=0.30.2
multiprocess~=0.70.16
networkx~=3.2.1
jsonref~=1.1.0
referencing~=0.36.2
jsonschema~=4.23.0
webcolors~=24.11.1
jsonpointer~=3.0.0
uri-template~=1.3.0
isoduration~=20.11.0
rfc3339-validator~=0.1.4
jsonschema-specifications~=2024.10.1
tokenizers~=0.21.1
safetensors~=0.5.3
swagger-spec-validator~=3.0.4
jinja2~=3.1.6
importlib-resources~=6.5.2
optimum~=1.24.0